header {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 13px 23px;
  padding-right: 35px;
  width: 100%;
  z-index: 1001;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

header.scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #11647a;
}

header.scrolled .cont-menu {
  padding-top: 12px;
}

header a.brand-logo {
  max-width: 175px;
}

header a.brand-logo img {
  width: 100%;
}

header .menu-button {
  height: 35px;
  width: 35px;
  border-radius: 4px;
  z-index: 200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1px;
  background: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: none;
}

header .menu-button span {
  margin: 4px;
  width: 80%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .cont-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

header .cont-menu ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

header .cont-menu ul li {
  list-style: none;
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cont-menu ul li a {
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 13px;
  color: white;
  position: relative;
  overflow: hidden;
}

header .cont-menu ul li a:after, header .cont-menu ul li a:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.6);
  position: absolute;
  -webkit-transition: left 0.2s linear;
  transition: left 0.2s linear;
}

header .cont-menu ul li a:after {
  top: 0;
  left: 100%;
}

header .cont-menu ul li a:before {
  bottom: 0;
  left: -100%;
}

header .cont-menu ul li a:hover:after, header .cont-menu ul li a:hover:before {
  left: 0;
}

header .cont-menu ul li.active a {
  font-weight: bold;
}

header .cont-menu .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .cont-menu .social-links a.item-txt {
  font-weight: 100;
  font-size: 13px;
  line-height: 2px;
  color: white;
  margin-left: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .cont-menu .social-links a.item-txt:hover {
  opacity: .7;
}

header .cont-menu .social-links a.item {
  margin: 0px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

header .cont-menu .social-links a.item:first-child {
  margin-right: -3px;
}

header .cont-menu .social-links a.item:before {
  content: "";
  top: 0;
  position: absolute;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  width: 100%;
  height: 15px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border: 1px solid transparent;
  border-bottom: 0;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

header .cont-menu .social-links a.item:after {
  content: "";
  bottom: 0;
  position: absolute;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  width: 100%;
  height: 50%;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border: 1px solid transparent;
  border-top: 0;
}

header .cont-menu .social-links a.item img {
  width: 55%;
  margin: 0;
  position: relative;
  z-index: 1;
}

header .cont-menu .social-links a.item:hover:before, header .cont-menu .social-links a.item:hover:after {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  border-color: white;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header .cont-menu .social-links {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .menu-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .cont-menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 10px 0 !important;
    margin-top: 0;
  }
  header .cont-menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 0;
  }
  header .cont-menu .social-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer {
  background-color: #4d4e53;
  padding: 60px;
}

footer .columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .columns .column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  max-width: 25%;
}

footer .columns .column a.logo {
  max-width: 300px;
}

footer .columns .column a.logo img {
  width: 100%;
  max-width: 250px;
}

footer .columns .column .footer-title {
  color: #11647a;
  font-weight: bold;
}

footer .columns .column .footer-menu {
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

footer .columns .column .footer-menu ul {
  padding: 0;
  margin: 0;
}

footer .columns .column .footer-menu ul li {
  list-style: none;
  margin: 5px;
  padding: 5px 0px;
}

footer .columns .column .footer-menu ul li a {
  font-weight: 100;
  font-size: 14px;
  color: #828285;
}

footer .columns .column .footer-menu ul li a:hover {
  color: white;
}

footer .columns .column .footer-menu ul li.active a {
  color: white;
}

footer .columns .column .footer-text {
  font-weight: 100;
  margin-top: 10px;
  font-size: 14px;
  color: white;
  max-width: 300px;
}

footer .bottom {
  font-size: 12px;
  font-weight: 100;
  color: white;
  padding: 10px 60px;
  margin-top: 10px;
}

footer .bottom a {
  color: #828285;
}

footer .bottom a:hover {
  color: white;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  footer .columns {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .columns .column {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    width: 30%;
    max-width: unset;
  }
  footer .columns .column:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  footer {
    padding: 25px;
  }
  footer .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .columns .column {
    -webkit-box-flex: inherit;
        -ms-flex: inherit;
            flex: inherit;
    width: 100%;
    max-width: unset;
    text-align: center;
    margin: 10px 0;
  }
  footer .columns .column .footer-menu ul li {
    margin: 0;
    padding: 2px 0;
  }
  footer .columns .column:nth-child(2) {
    display: none;
  }
  footer .bottom {
    padding: 10px 0;
    text-align: center;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: halcom, sans-serif;
  font-weight: 400;
  line-height: 1;
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

/* CONTACT */
.contact-container {
  background-image: url(../img/contact-bg.jpg);
  padding: 60px;
}

.contact-container .container {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container .container .col .title {
  color: white;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}

.contact-container .container .col .title:before {
  content: attr(data-text);
  position: absolute;
  font-weight: bold;
  font-size: 5rem;
  top: -30px;
  left: -50px;
  color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.contact-container .container .col .text {
  margin-top: 20px;
  font-weight: 100;
  color: white;
  max-width: 500px;
}

.contact-container .container .col .form {
  width: 600px;
  margin-top: 30px;
  color: #11647a;
}

.contact-container .container .col .form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.contact-container .container .col .form .form-row .form-group {
  width: 49%;
}

.contact-container .container .col .form .form-row .form-group input {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: #11647a;
  font-weight: 100;
  height: 40px;
}

.contact-container .container .col .form .form-row .form-group input:focus {
  outline: none;
}

.contact-container .container .col .form .form-row .form-group input::-webkit-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .form-group input:-ms-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .form-group input::-ms-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .form-group input::placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .form-group .select-cont {
  position: relative;
}

.contact-container .container .col .form .form-row .form-group .select-cont .value {
  cursor: pointer;
  font-weight: 100;
  background-color: #fff;
  color: #11647a;
  width: 100%;
  padding: 10px;
  height: 40px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .container .col .form .form-row .form-group .select-cont .value:before {
  content: "";
  background-image: url(../img/arrow-down-alternate.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
  top: 11px;
  width: 12px;
  height: 10px;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul {
  width: 100%;
  position: absolute;
  background-color: rgba(1, 48, 63, 0.9);
  padding: 5px;
  border-radius: 0 0 0 10px;
  margin: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.1s linear, max-height 0.35s ease-in;
  transition: opacity 0.1s linear, max-height 0.35s ease-in;
  z-index: 10;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li {
  color: white;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  font-size: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  margin: 2px;
  padding: 10px 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.2s ease, color 0.2s linear;
  transition: background-color 0.2s ease, color 0.2s linear;
  cursor: pointer;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:after, .contact-container .container .col .form .form-row .form-group .select-cont ul li:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:after {
  top: 0;
  left: 100%;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:before {
  bottom: 0;
  left: -100%;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:hover:after, .contact-container .container .col .form .form-row .form-group .select-cont ul li:hover:before {
  left: 0;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:last-child {
  border-bottom: none;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active {
  opacity: 1;
  max-height: 200px;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li {
  height: auto;
  -webkit-animation-name: LiOption;
          animation-name: LiOption;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(1n) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(2n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(3n) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(4n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(5n) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.contact-container .container .col .form .form-row textarea {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  height: 110px;
}

.contact-container .container .col .form .form-row textarea:focus {
  outline: none;
}

.contact-container .container .col .form .form-row textarea::-webkit-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row textarea:-ms-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row textarea::-ms-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row textarea::placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .submit-cont {
  position: relative;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  overflow: hidden;
}

.contact-container .container .col .form .form-row .submit-cont:after, .contact-container .container .col .form .form-row .submit-cont:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.contact-container .container .col .form .form-row .submit-cont:after {
  top: 0;
  left: 100%;
}

.contact-container .container .col .form .form-row .submit-cont:before {
  bottom: 0;
  left: -100%;
}

.contact-container .container .col .form .form-row .submit-cont input[type="submit"] {
  width: 130px;
  padding: 10px;
  height: 40px;
  background-color: #01303f;
  font-weight: 100;
  color: white;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.contact-container .container .col .form .form-row .submit-cont input[type="submit"]:focus {
  outline: none;
}

.contact-container .container .col .form .form-row .submit-cont:hover input[type="submit"] {
  background-color: transparent;
}

.contact-container .container .col .form .form-row .submit-cont:hover:after, .contact-container .container .col .form .form-row .submit-cont:hover:before {
  left: 0;
}

.contact-container .container .col .content {
  max-width: 500px;
}

.contact-container .container .col .content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact-container .container .col .content .row .column {
  font-size: 12px;
  color: white;
  font-weight: 100;
}

.contact-container .container .col .content .row .column img {
  width: 20px;
  margin: 10px;
  margin-right: 20px;
}

.contact-container .container .col .content .row .column a {
  display: inline-block;
  overflow: hidden;
  font-weight: 100;
  padding: 5px 0;
  color: white;
  position: relative;
}

.contact-container .container .col .content .row .column a:before, .contact-container .container .col .content .row .column a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.contact-container .container .col .content .row .column a::before {
  top: 0;
  left: 100%;
}

.contact-container .container .col .content .row .column a:after {
  bottom: 0;
  left: -100%;
}

.contact-container .container .col .content .row .column a:hover:after, .contact-container .container .col .content .row .column a:hover:before {
  left: 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact-container .container .col .form {
    width: 425px;
  }
}

@media screen and (max-width: 767px) {
  .contact-container {
    padding: 60px 20px;
  }
  .contact-container .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container .container .col .title::before {
    font-size: 37px;
    top: -15px;
    left: -18px;
  }
  .contact-container .container .col .form {
    width: 100%;
  }
  .contact-container .container .col .form .form-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .contact-container .container .col .form .form-row .form-group {
    width: 100%;
    margin-bottom: 10px;
  }
  .contact-container .container .col .form .form-row .submit-cont {
    margin-top: 10px;
  }
  .contact-container .container .col:last-child {
    margin-top: 30px;
  }
}
