@-webkit-keyframes map_point {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes map_point {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  90% {
    opacity: 1;
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.map-container {
  background-image: url(../img/map-bg.jpg);
  background-position: center;
  padding: 50px 60px;
  position: relative;
}

.map-container .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-container .container .column:first-child {
  width: 35%;
}

.map-container .container .column:last-child {
  width: 65%;
}

.map-container .container .column .title {
  color: #00596e;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  text-indent: 20px;
}

.map-container .container .column .title .bold-title {
  font-weight: 700;
  text-indent: 0px;
  font-size: 45px;
}

.map-container .container .column .data-points {
  position: absolute;
  top: 40%;
  left: -1000px;
  -webkit-transform: all 0.4s ease;
          transform: all 0.4s ease;
}

.map-container .container .column .data-points.active {
  left: 0;
  opacity: 1;
}

.map-container .container .column .data-points.active .item ul li {
  -webkit-transition: left 300ms ease-in-out, opacity 100ms;
  transition: left 300ms ease-in-out, opacity 100ms;
  -webkit-animation: map_point 2.1s ease-in-out 0.15s 1 forwards;
          animation: map_point 2.1s ease-in-out 0.15s 1 forwards;
  -webkit-transform: translateX(-1000px);
          transform: translateX(-1000px);
}

.map-container .container .column .data-points.active .item ul li:nth-child(1n) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  margin-left: 14.75em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(2n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  margin-left: 15.5em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(3n) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  margin-left: 16.25em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(4n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  margin-left: 17em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(5n) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  margin-left: 17.75em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(6n) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  margin-left: 18.5em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(7n) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
  margin-left: 19.25em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(8n) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  margin-left: 20em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(9n) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
  margin-left: 20.75em;
}

.map-container .container .column .data-points.active .item ul li:nth-child(10n) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  margin-left: 21.5em;
}

.map-container .container .column .data-points.hide {
  left: -1000px;
  opacity: 0;
}

.map-container .container .column .data-points .item .state {
  background-color: #00596e;
  color: white;
  padding: 6px 35px;
  border-radius: 10px;
  text-transform: uppercase;
  margin-left: 8em;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline;
}

.map-container .container .column .data-points .item .state:before {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  right: 100%;
  width: 1000px;
  height: 3px;
  background-color: #00596e;
}

.map-container .container .column .data-points .item ul {
  margin-top: 30px;
}

.map-container .container .column .data-points .item ul li {
  color: #066881;
  text-transform: uppercase;
  margin-left: 18.5em;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
}

.map-container .container .column .data-points .item ul li:before {
  content: "";
  position: absolute;
  top: calc(50%);
  right: calc(100% + 14px);
  width: 1000px;
  height: 2.5px;
  background-color: #00596e;
}

.map-container .container .column .data-points .item ul li:hover {
  -webkit-transform: translateX(0.5em);
          transform: translateX(0.5em);
}

#MX-BCN, #MX-CHH, #MX-SIN, #MX-NEL, #MX-ZAC, #MX-MIC, #MX-OAX, #MX-YUC, #MX-TAB, #MX-HID {
  fill: #959595;
}

#MX-DUR, #MX-VER, #MX-CAM, #MX-GRO {
  fill: #d1d1d1;
}

svg {
  /*
    g {
        transform-origin: center center;
        transform-box: fill-box;
        &.selected {
            transition: all 0.2s ease-in-out;

            &:hover {
                filter: url(#shadow);
            }

            path{
                fill: $main;
                transition: all 0.3s ease-in-out;
                stroke: transparent;
                &:hover {
                    stroke: white;
                }
            }
        }

        &.active {
            filter: url(#shadow);
            path{
                stroke: white;
            }
        }
    }
    */
}

svg path {
  fill: #bbbbbb;
  cursor: pointer;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transform-box: fill-box;
  stroke-width: 1;
}

svg path.selected {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #066881 !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  stroke: transparent;
}

svg path.selected:hover {
  -webkit-filter: url(#shadow);
          filter: url(#shadow);
  stroke: white;
}

svg path.active {
  -webkit-filter: url(#shadow);
          filter: url(#shadow);
  stroke: white;
}

@media screen and (min-width: 768px) and (max-width: 1149px) {
  .map-container {
    padding: 50px 20px;
  }
  .map-container .container .column .data-points .item .state {
    margin-left: 2em;
    font-size: 20px;
  }
  .map-container .container .column .data-points .item ul li {
    margin-left: 4em;
    font-size: 17px;
  }
  .map-container .container .column .data-points.active .item ul li {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(1n) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
    margin-left: 4.75em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(2n) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    margin-left: 5.5em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(3n) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
    margin-left: 6.25em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(4n) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    margin-left: 7em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(5n) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
    margin-left: 7.75em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(6n) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
    margin-left: 8.5em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(7n) {
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
    margin-left: 9.25em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(8n) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    margin-left: 10em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(9n) {
    -webkit-animation-delay: 1.35s;
            animation-delay: 1.35s;
    margin-left: 10.75em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(10n) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    margin-left: 11.5em;
  }
}

@media screen and (max-width: 767px) {
  .map-container {
    padding: 50px 20px;
  }
  .map-container .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map-container .container .column:first-child {
    width: 100%;
  }
  .map-container .container .column:last-child {
    width: 100%;
  }
  .map-container .container .column .data-points {
    top: 30%;
  }
  .map-container .container .column .data-points .item .state {
    margin-left: 1em;
    font-size: 18px;
  }
  .map-container .container .column .data-points .item ul li {
    margin-left: 2em;
    font-size: 15px;
  }
  .map-container .container .column .data-points .item ul li:before {
    width: 100px;
  }
  .map-container .container .column .data-points.active .item ul li {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(1n) {
    -webkit-animation-delay: 0.15s;
            animation-delay: 0.15s;
    margin-left: 2.75em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(2n) {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
    margin-left: 3.5em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(3n) {
    -webkit-animation-delay: 0.45s;
            animation-delay: 0.45s;
    margin-left: 4.25em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(4n) {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s;
    margin-left: 5em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(5n) {
    -webkit-animation-delay: 0.75s;
            animation-delay: 0.75s;
    margin-left: 5.75em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(6n) {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
    margin-left: 6.5em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(7n) {
    -webkit-animation-delay: 1.05s;
            animation-delay: 1.05s;
    margin-left: 7.25em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(8n) {
    -webkit-animation-delay: 1.2s;
            animation-delay: 1.2s;
    margin-left: 8em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(9n) {
    -webkit-animation-delay: 1.35s;
            animation-delay: 1.35s;
    margin-left: 8.75em;
  }
  .map-container .container .column .data-points.active .item ul li:nth-child(10n) {
    -webkit-animation-delay: 1.5s;
            animation-delay: 1.5s;
    margin-left: 9.5em;
  }
  .map-container .container .column:last-child {
    margin-top: 300px;
  }
}
