@-webkit-keyframes map_point {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  90% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes map_point {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
  }
  90% {
    -webkit-transform: translateX(20px);
            transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.map-container {
  background-image: url(../img/map-bg.jpg);
  background-position: center;
  height: 100vh;
  max-height: 600px;
  padding: 50px 60px;
  position: relative;
}

.map-container .container {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.map-container .container .column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}

.map-container .container .column .title {
  color: #00596e;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
  text-indent: 20px;
}

.map-container .container .column .title .bold-title {
  font-weight: 700;
  text-indent: 0px;
  font-size: 45px;
}

.map-container .container .column .data-points {
  position: absolute;
  top: 40%;
  left: -1000px;
}

.map-container .container .column .data-points.active {
  left: 0;
}

.map-container .container .column .data-points .item .state {
  background-color: #00596e;
  color: white;
  padding: 6px 35px;
  border-radius: 10px;
  text-transform: uppercase;
  margin-left: 8em;
  text-align: center;
  font-size: 22px;
  font-weight: 300;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  display: inline;
}

.map-container .container .column .data-points .item .state:before {
  content: "";
  position: absolute;
  top: calc(50% - 1.5px);
  right: 100%;
  width: 1000px;
  height: 3px;
  background-color: #00596e;
}

.map-container .container .column .data-points .item ul {
  margin-top: 30px;
}

.map-container .container .column .data-points .item ul li {
  color: #066881;
  text-transform: uppercase;
  margin-left: 18.5em;
  font-size: 20px;
  margin-bottom: 10px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: map_point 2.1s ease-in-out 0.15s 1 forwards;
          animation: map_point 2.1s ease-in-out 0.15s 1 forwards;
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

.map-container .container .column .data-points .item ul li:nth-child(1n) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  margin-left: 14.75em;
}

.map-container .container .column .data-points .item ul li:nth-child(2n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
  margin-left: 15.5em;
}

.map-container .container .column .data-points .item ul li:nth-child(3n) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
  margin-left: 16.25em;
}

.map-container .container .column .data-points .item ul li:nth-child(4n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  margin-left: 17em;
}

.map-container .container .column .data-points .item ul li:nth-child(5n) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
  margin-left: 17.75em;
}

.map-container .container .column .data-points .item ul li:nth-child(6n) {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
  margin-left: 18.5em;
}

.map-container .container .column .data-points .item ul li:nth-child(7n) {
  -webkit-animation-delay: 1.05s;
          animation-delay: 1.05s;
  margin-left: 19.25em;
}

.map-container .container .column .data-points .item ul li:nth-child(8n) {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  margin-left: 20em;
}

.map-container .container .column .data-points .item ul li:nth-child(9n) {
  -webkit-animation-delay: 1.35s;
          animation-delay: 1.35s;
  margin-left: 20.75em;
}

.map-container .container .column .data-points .item ul li:nth-child(10n) {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  margin-left: 21.5em;
}

.map-container .container .column .data-points .item ul li:before {
  content: "";
  position: absolute;
  top: calc(50%);
  right: calc(100% + 14px);
  width: 1000px;
  height: 2.5px;
  background-color: #00596e;
}

.map-container .container .column .data-points .item ul li:hover {
  -webkit-transform: translateX(0.5em);
          transform: translateX(0.5em);
}

svg path {
  fill: #bbbbbb;
  cursor: pointer;
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transform-box: fill-box;
  stroke-width: 1;
}

svg g {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  transform-box: fill-box;
}

svg g.selected {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

svg g.selected:hover {
  -webkit-filter: url(#shadow);
          filter: url(#shadow);
}

svg g.selected #MX-BCS, svg g.selected #MX-JAL, svg g.selected #MX-MOR, svg g.selected #MX-MEX, svg g.selected #MX-GUA {
  fill: #066881;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  stroke: transparent;
}

svg g.selected #MX-BCS:hover, svg g.selected #MX-JAL:hover, svg g.selected #MX-MOR:hover, svg g.selected #MX-MEX:hover, svg g.selected #MX-GUA:hover {
  stroke: white;
}

svg g.active {
  -webkit-filter: url(#shadow);
          filter: url(#shadow);
}

svg g.active #MX-BCS, svg g.active #MX-JAL, svg g.active #MX-MOR, svg g.active #MX-MEX, svg g.active #MX-GUA {
  stroke: white;
}

#MX-BCN, #MX-CHH, #MX-SIN, #MX-NEL, #MX-ZAC, #MX-MIC, #MX-OAX, #MX-YUC, #MX-TAB, #MX-HID {
  fill: #959595;
}

#MX-DUR, #MX-VER, #MX-CAM, #MX-GRO {
  fill: #d1d1d1;
}
