.about-container {
  background-image: url(../img/fondo-quienessomos.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  padding: 285px 60px 250px 60px;
  min-height: 100vh;
}

.about-container .content .about-title .focus:before {
  -moz-text-stroke-color: white !important;
  -webkit-text-stroke-color: white !important;
  opacity: 0.3;
}

.about-container .content .text {
  margin-bottom: 0;
}

.meet-the-team {
  min-height: 40px;
  padding: 30px 50px;
}

.meet-the-team .title {
  color: #00465f;
  font-weight: 300;
  text-transform: uppercase;
  text-indent: 30px;
  font-size: 30px;
}

.meet-the-team .title .bolder {
  font-weight: 700;
  text-indent: 0 !important;
  font-size: 50px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-container {
    padding: 235px 60px 200px 60px;
  }
}

@media screen and (max-width: 767px) {
  .about-container {
    padding: 255px 20px 150px 20px;
  }
}
