@-webkit-keyframes LiOption {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes LiOption {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.advanced-search-container {
  background-image: url(../img/search-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-height: 600px;
  padding-top: 120px;
  max-height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advanced-search-container .filter-container {
  padding: 60px;
}

.advanced-search-container .filter-container .filter-title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #066881;
  font-weight: 100;
  margin-bottom: 30px;
}

.advanced-search-container .filter-container .filter-title .focus {
  font-weight: 700;
  font-size: 1.7em;
}

.advanced-search-container .filter-container .filters {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px auto;
  position: relative;
}

.advanced-search-container .filter-container .filters:nth-child(1) {
  z-index: 1000;
}

.advanced-search-container .filter-container .filters .col {
  text-align: center;
  width: 50%;
}

.advanced-search-container .filter-container .filters .col .filter-cont {
  margin: 5px;
  position: relative;
  max-width: 200px;
}

.advanced-search-container .filter-container .filters .col .filter-cont .value {
  cursor: pointer;
  font-weight: 100;
  color: white;
  border: 1px solid white;
  background-color: #066881;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  font-size: 12px;
}

.advanced-search-container .filter-container .filters .col .filter-cont .value::-webkit-input-placeholder {
  color: #fff;
}

.advanced-search-container .filter-container .filters .col .filter-cont .value:-ms-input-placeholder {
  color: #fff;
}

.advanced-search-container .filter-container .filters .col .filter-cont .value::-ms-input-placeholder {
  color: #fff;
}

.advanced-search-container .filter-container .filters .col .filter-cont .value::placeholder {
  color: #fff;
}

.advanced-search-container .filter-container .filters .col .filter-cont .value:hover {
  background-color: #00596e;
}

.advanced-search-container .filter-container .filters .col .filter-cont .value:before {
  content: "";
  background-image: url(../img/arrow-down.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
  top: 12px;
  width: 10px;
  height: 9px;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul {
  width: 100%;
  position: absolute;
  background-color: #00596e;
  border-radius: 0 0 0 10px;
  margin: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.1s linear, max-height 0.35s ease-in;
  transition: opacity 0.1s linear, max-height 0.35s ease-in;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul li {
  color: white;
  font-weight: 100;
  text-align: left;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  margin: 2px;
  list-style: none;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 0;
  opacity: 0;
  -webkit-transition: background-color 0.2s ease, color 0.2s linear;
  transition: background-color 0.2s ease, color 0.2s linear;
  cursor: pointer;
  overflow: hidden;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul li:after, .advanced-search-container .filter-container .filters .col .filter-cont ul li:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul li:after {
  top: 0;
  left: 100%;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul li:before {
  bottom: 0;
  left: -100%;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul li:hover:after, .advanced-search-container .filter-container .filters .col .filter-cont ul li:hover:before {
  left: 0;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul li:last-child {
  border: none;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul.active {
  z-index: 100;
  opacity: 1;
  padding: 10px;
  max-height: 200px;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul.active li {
  height: auto;
  padding: 10px 5px;
  -webkit-animation-name: LiOption;
          animation-name: LiOption;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul.active li:nth-child(1n) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul.active li:nth-child(2n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul.active li:nth-child(3n) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul.active li:nth-child(4n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.advanced-search-container .filter-container .filters .col .filter-cont ul.active li:nth-child(5n) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.advanced-search-container .filter-container .advanced-search {
  width: 390px;
  margin: 10px auto;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advanced-search-container .filter-container .advanced-search .title {
  width: 190px;
  color: #066881;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
}

.advanced-search-container .filter-container .advanced-search .title .little-arrow {
  background-image: url(../img/arrow-down-alternate.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.advanced-search-container .filter-container .advanced-search .title::after {
  content: "";
  background-color: #066881;
  height: 1px;
  width: 100px;
  right: calc(100% + 0px);
  top: calc(50% - 0.5px);
  position: absolute;
}

.advanced-search-container .filter-container .advanced-search .title::before {
  content: "";
  background-color: #066881;
  height: 1px;
  width: 100px;
  left: calc(100% + 0px);
  top: calc(50% - 0.5px);
  position: absolute;
}

.advanced-search-container .filter-container .advanced-search-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px 0;
  margin-bottom: 20px;
}

.advanced-search-container .filter-container .advanced-search-options .form-checkbox {
  width: 150px;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advanced-search-container .filter-container .advanced-search-options .form-checkbox:first-child {
  margin-left: 60px;
  width: 100px;
}

.advanced-search-container .filter-container .advanced-search-options .form-checkbox label {
  text-transform: uppercase;
  font-size: 12px;
  color: #066881;
}

.advanced-search-container .filter-container .advanced-search-options .form-checkbox input {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid #066881;
}

.advanced-search-container .filter-container .advanced-search-options .form-checkbox input:focus {
  outline: transparent;
}

.advanced-search-container .filter-container .advanced-search-options .form-checkbox input:checked {
  background-color: #066881;
}

.advanced-search-container .filter-container .filter-submit {
  text-align: center;
}

.advanced-search-container .filter-container .filter-submit .submit-cont {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.advanced-search-container .filter-container .filter-submit .submit-cont:after, .advanced-search-container .filter-container .filter-submit .submit-cont:before {
  content: "";
  width: calc(100% - 10px);
  height: 1px;
  background-color: #066881;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.advanced-search-container .filter-container .filter-submit .submit-cont:after {
  top: 0;
  left: 100%;
}

.advanced-search-container .filter-container .filter-submit .submit-cont:before {
  bottom: 0;
  left: -100%;
}

.advanced-search-container .filter-container .filter-submit .submit-cont input[type="submit"] {
  width: 190px;
  cursor: pointer;
  font-weight: normal;
  background-color: #066881;
  border: none;
  color: #fff;
  padding: 12px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 auto;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.advanced-search-container .filter-container .filter-submit .submit-cont input[type="submit"]:focus {
  outline: none;
}

.advanced-search-container .filter-container .filter-submit .submit-cont:hover:after, .advanced-search-container .filter-container .filter-submit .submit-cont:hover:before {
  left: 0;
  left: calc(0% + 5px);
}

.advanced-search-container .filter-container .filter-submit .submit-cont:hover input[type="submit"] {
  color: #066881;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .advanced-search-container .filter-container {
    padding: 60px 20px;
    overflow: hidden;
  }
  .advanced-search-container .filter-container .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .advanced-search-container .filter-container .filters .col {
    width: 85%;
  }
  .advanced-search-container .filter-container .filters .col .filter-cont {
    max-width: inherit;
  }
  .advanced-search-container .filter-container .advanced-search {
    width: 100%;
  }
  .advanced-search-container .filter-container .advanced-search .title {
    width: auto;
  }
  .advanced-search-container .filter-container .advanced-search-options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 50%;
    margin: 0 auto;
  }
  .advanced-search-container .filter-container .advanced-search-options .form-checkbox {
    margin-left: 0;
  }
  .advanced-search-container .filter-container .advanced-search-options .form-checkbox:first-child {
    margin-left: 0;
  }
  .advanced-search-container .filter-container .filter-submit {
    margin-top: 15px;
  }
}
