.hero-container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(../img/desarrollos-angora.jpg);
  background-position: center;
  background-size: cover;
  background-clip: border-box;
  background-origin: border-box;
}

.hero-container img {
  max-width: 400px;
}

.menu-navigation {
  background-color: #852c5b;
}

.menu-navigation ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu-navigation ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  color: white;
  font-weight: 100;
  font-family: halcom, sans-serif;
  font-size: 12px;
  padding: 15px 12px;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.menu-navigation ul li:hover {
  background-color: #630b39;
}

.video-cont img {
  width: 100%;
  margin: 0;
  margin-bottom: -5px;
}

.description-container {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description-container .col {
  -webkit-box-flex: 2;
      -ms-flex: 2 0 50%;
          flex: 2 0 50%;
}

.description-container .col:last-child {
  padding: 60px 40px;
  overflow: hidden;
}

.description-container .col .img-desc {
  position: relative;
}

.description-container .col .img-desc img {
  width: calc(100% - 20px);
  z-index: 2;
  position: relative;
}

.description-container .col .img-desc:before {
  content: "";
  background-color: #852c5b;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 20px;
}

.description-container .col .upper-title {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  color: #852c5b;
  position: relative;
  display: inline-block;
}

.description-container .col .upper-title:before {
  content: attr(data-text);
  width: 2000px;
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  top: -35px;
  left: -55px;
  color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(133, 44, 91, 0.1);
  -webkit-text-stroke-color: rgba(133, 44, 91, 0.1);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.description-container .col .title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1.3;
  color: #852c5b;
}

.description-container .col .description {
  margin: 10px 0;
  max-width: 400px;
  margin-bottom: 30px;
}

.description-container .col .description p {
  font-size: 14px;
  font-weight: 100;
}

.description-container .col .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 5px 0;
}

.description-container .col .data .number {
  width: 93px;
  color: #852c5b;
  text-align: center;
  font-size: 45px;
  font-weight: 700;
  margin-right: 10px;
}

.description-container .col .data .text {
  font-weight: 100;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 5px;
}

.description-container .col .meters {
  background-color: #852c5b;
  color: white;
  width: 230px;
  margin-top: 20px;
  padding: 5px 10px;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.description-container .col .meters sup {
  font-size: 10px;
  margin-top: -5px;
}

.gallery-container {
  padding: 60px 0px;
  background-color: #852c5b;
}

.gallery-container .title {
  margin: 0 auto;
  position: relative;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}

.gallery-container .gallery-carousel {
  position: relative;
}

.gallery-container .gallery-carousel:before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 10%;
  position: absolute;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, #852c5b), color-stop(15%, #852c5b), to(transparent));
  background-image: linear-gradient(90deg, #852c5b 15%, #852c5b 15%, transparent 100%);
  z-index: 1;
}

.gallery-container .gallery-carousel:after {
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 10%;
  position: absolute;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(15%, #852c5b), color-stop(15%, #852c5b), to(transparent));
  background-image: linear-gradient(-90deg, #852c5b 15%, #852c5b 15%, transparent 100%);
  z-index: 1;
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item {
  padding: 0;
  margin: 0;
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item.center {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item.center .item .img-item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  z-index: 1;
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item:not(.center) .item .icon {
  display: none;
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item:not(.center) .item .img-item {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item .item {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item .item .icon {
  position: absolute;
  width: 60px;
  height: 60px;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  z-index: 2;
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item .item .img-item {
  position: relative;
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item .item .img-item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 1;
}

.gallery-container .gallery-carousel .owl-stage-outer .owl-stage .owl-item .item .img-item img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.gallery-container .gallery-carousel .owl-dots button span {
  background-color: transparent;
  border: 1px solid white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.gallery-container .gallery-carousel .owl-dots button:active, .gallery-container .gallery-carousel .owl-dots button:focus {
  outline: none;
}

.gallery-container .gallery-carousel .owl-dots button.active span, .gallery-container .gallery-carousel .owl-dots button:hover span {
  background-color: #fff;
}

.departments-container {
  padding: 60px 0;
}

.departments-container .title {
  color: #852c5b;
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
  margin-bottom: 50px;
}

.departments-container .title:before {
  content: attr(data-text);
  position: absolute;
  font-size: 4rem;
  font-weight: bold;
  top: -20px;
  left: 35%;
  color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(133, 44, 91, 0.1);
  -webkit-text-stroke-color: rgba(133, 44, 91, 0.1);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.departments-container .departments-carousel .owl-item:nth-child(odd) {
  background-color: #c9c9c9;
}

.departments-container .departments-carousel .owl-item .item {
  padding: 60px 0;
}

.departments-container .departments-carousel .owl-item .item .type {
  color: #852c5b;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.departments-container .departments-carousel .owl-item .item .price {
  margin: 10px 0;
  color: #852c5b;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
}

.departments-container .departments-carousel .owl-item .item .img-department {
  margin: 30px 0;
}

.departments-container .departments-carousel .owl-item .item .img-department img {
  margin: 0 auto;
  width: 50%;
}

.departments-container .departments-carousel .owl-item .item .type-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.departments-container .departments-carousel .owl-item .item .type-desc .des {
  background-color: #852c5b;
  color: white;
  font-weight: 100;
  font-size: 10px;
  display: inline-block;
  margin: 0 auto;
  text-transform: uppercase;
  padding: 10px 5px;
}

.departments-container .departments-carousel .owl-item .item .desc {
  width: 120px;
  font-size: 10px;
  margin: 20px auto;
}

.departments-container .departments-carousel .owl-item .item .desc p {
  margin: 0;
  line-height: 1.3;
}

.departments-container .slider-range {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
}

.departments-container .slider-range #departments-slider {
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 20px;
  background-color: #e5e5e5;
  cursor: -webkit-grab;
  cursor: grab;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.departments-container .slider-range #departments-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #852c5b;
  height: 20px;
  width: calc(100% / 6);
  border-radius: 20px;
  background-image: url(../img/thumb.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
}

.departments-container .slider-range #departments-slider:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 1px #852c5b;
          box-shadow: 0 0 0 1px #852c5b;
}

.departments-container .slider-range #departments-slider:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.amenidades-container {
  padding: 0;
}

.amenidades-container .amenidades-carousel {
  position: relative;
}

.amenidades-container .amenidades-carousel .owl-stage-outer .owl-stage .owl-item {
  padding: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.amenidades-container .amenidades-carousel .owl-stage-outer .owl-stage .owl-item .item {
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
}

.amenidades-container .amenidades-carousel .owl-stage-outer .owl-stage .owl-item .item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(133, 44, 91, 0.5);
}

.amenidades-container .amenidades-carousel .owl-stage-outer .owl-stage .owl-item .item .text {
  padding-left: 20px;
  position: absolute;
  height: 100px;
  top: calc(50% - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: white;
  font-weight: 700;
  font-size: 60px;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(255, 255, 255, 0.3);
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.3);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.amenidades-container .amenidades-carousel .owl-stage-outer .owl-stage .owl-item .item .icon {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
}

.amenidades-container .amenidades-carousel .owl-stage-outer .owl-stage .owl-item .item .icon img {
  width: 60px;
  height: 60px;
}

.amenidades-container .amenidades-carousel .owl-dots {
  width: 100%;
  bottom: 20px;
  z-index: 10;
  position: absolute;
}

.amenidades-container .amenidades-carousel .owl-dots button span {
  background-color: transparent;
  border: 1px solid white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.amenidades-container .amenidades-carousel .owl-dots button:active, .amenidades-container .amenidades-carousel .owl-dots button:focus {
  outline: none;
}

.amenidades-container .amenidades-carousel .owl-dots button.active span, .amenidades-container .amenidades-carousel .owl-dots button:hover span {
  background-color: #fff;
}

.location-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50vh;
}

.location-container .col {
  padding: 60px 0;
}

.location-container .col:first-child {
  width: 55%;
  background-image: url(../img/location-picture.jpg);
  background-position: center;
  background-size: cover;
}

.location-container .col:last-child {
  width: 45%;
  background-color: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.location-container .col:last-child .content {
  width: 100%;
}

.location-container .col .title-cont {
  display: block;
  width: 100%;
  text-align: center;
}

.location-container .col .title-cont .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  color: white;
  position: relative;
  display: inline-block;
}

.location-container .col .title-cont .title:before {
  content: attr(data-text);
  position: absolute;
  font-size: 60px;
  font-weight: bold;
  top: -15px;
  left: -8%;
  color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.location-container .col .desc {
  color: white;
  padding: 20px;
  font-weight: 100;
}

.location-container .col .desc ul {
  padding: 0;
  padding-left: 20px;
}

.location-container .col .desc ul li {
  padding: 5px 0;
  font-weight: 100;
}
