.hero-banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.contenedor-general-banner {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contenedor-general-banner .cont-contenido {
  width: 95%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-banner .cont-contenido .cont-logo {
  position: relative;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor-general-banner .cont-contenido .cont-logo .logo {
  position: absolute;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  background-image: url(../img/dec-logos.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 15px 30px;
}

.contenedor-general-banner .cont-contenido .cont-logo .logo img {
  height: 70px;
  display: block;
}

.contenedor-general-banner .cont-contenido .cont-logo .logo.active {
  opacity: 1;
}

.contenedor-general-banner .cont-contenido .cont-edificios {
  position: relative;
}

.contenedor-general-banner .cont-contenido .cont-edificios img {
  width: 100%;
  display: block;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-banner .cont-contenido .cont-edificios .hovers {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor-general-banner .cont-contenido .cont-edificios .hovers img {
  width: 100%;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.contenedor-general-banner .cont-contenido .cont-edificios .hovers img.active {
  opacity: 1;
}

.contenedor-general-banner .cont-contenido .cont-edificios .items {
  position: absolute;
  top: 0;
  left: 4%;
  width: 92%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor-general-banner .cont-contenido .cont-edificios .items .col.col1 {
  background: rgba(250, 50, 50, 0.5);
  width: 15%;
  height: 62%;
  position: relative;
  top: 12%;
  background: transparent;
}

.contenedor-general-banner .cont-contenido .cont-edificios .items .col.col2 {
  background: rgba(50, 50, 250, 0.5);
  width: 21.5%;
  height: 30%;
  position: relative;
  top: 44%;
  background: transparent;
}

.contenedor-general-banner .cont-contenido .cont-edificios .items .col.col3 {
  background: rgba(50, 250, 50, 0.5);
  width: 26%;
  height: 62%;
  position: relative;
  top: 12%;
  background: transparent;
}

.contenedor-general-banner .cont-contenido .cont-edificios .items .col.col3::after {
  content: "";
  background: rgba(50, 250, 50, 0.5);
  width: 27%;
  height: 30%;
  position: absolute;
  top: 20%;
  right: -14%;
  z-index: 9;
  background: transparent;
}

.contenedor-general-banner .cont-contenido .cont-edificios .items .col.col4 {
  background: rgba(250, 250, 50, 0.5);
  width: 20.5%;
  height: 40%;
  position: relative;
  top: 34%;
  background: transparent;
}

.contenedor-general-banner .cont-contenido .cont-edificios .items .col.col5 {
  background: rgba(50, 250, 250, 0.5);
  width: 17%;
  height: 71%;
  position: relative;
  top: 3%;
  background: transparent;
}

@-webkit-keyframes LiOption {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes LiOption {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.filter-container {
  background-image: url(../img/filter-search-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px;
}

.filter-container .filter-title {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 100;
  margin-bottom: 30px;
}

.filter-container .filter-title .focus {
  font-weight: 700;
  font-size: 1.7em;
}

.filter-container .filters {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px auto;
}

.filter-container .filters .col {
  text-align: center;
  width: 50%;
}

.filter-container .filters .col .filter-cont {
  margin: 5px;
  position: relative;
  max-width: 200px;
}

.filter-container .filters .col .filter-cont .value {
  cursor: pointer;
  font-weight: 100;
  color: white;
  border: 1px solid white;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  font-size: 12px;
}

.filter-container .filters .col .filter-cont .value:hover {
  background-color: #01303f;
}

.filter-container .filters .col .filter-cont .value:before {
  content: "";
  background-image: url(../img/arrow-down.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
  top: 12px;
  width: 10px;
  height: 9px;
}

.filter-container .filters .col .filter-cont ul {
  width: 100%;
  position: absolute;
  background-color: #01303f;
  border-radius: 0 0 0 10px;
  margin: 0;
  z-index: 10;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.1s linear, max-height 0.35s ease-in;
  transition: opacity 0.1s linear, max-height 0.35s ease-in;
}

.filter-container .filters .col .filter-cont ul li {
  color: white;
  font-weight: 100;
  text-align: left;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  margin: 2px;
  list-style: none;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 0;
  opacity: 0;
  -webkit-transition: background-color 0.2s ease, color 0.2s linear;
  transition: background-color 0.2s ease, color 0.2s linear;
  cursor: pointer;
  overflow: hidden;
}

.filter-container .filters .col .filter-cont ul li:after, .filter-container .filters .col .filter-cont ul li:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.filter-container .filters .col .filter-cont ul li:after {
  top: 0;
  left: 100%;
}

.filter-container .filters .col .filter-cont ul li:before {
  bottom: 0;
  left: -100%;
}

.filter-container .filters .col .filter-cont ul li:hover:after, .filter-container .filters .col .filter-cont ul li:hover:before {
  left: 0;
}

.filter-container .filters .col .filter-cont ul li:last-child {
  border: none;
}

.filter-container .filters .col .filter-cont ul.active {
  z-index: 100;
  opacity: 1;
  padding: 10px;
  max-height: 200px;
}

.filter-container .filters .col .filter-cont ul.active li {
  height: auto;
  padding: 10px 5px;
  -webkit-animation-name: LiOption;
          animation-name: LiOption;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(1n) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(2n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(3n) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(4n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(5n) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.filter-container .advanced-search {
  width: 390px;
  margin: 10px auto;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-container .advanced-search .title {
  width: 190px;
  color: white;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-container .advanced-search .title .little-arrow {
  background-image: url(../img/arrow-down.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.filter-container .advanced-search .title::after {
  content: "";
  background-color: #fff;
  height: 1px;
  width: 100px;
  right: calc(100% + 0px);
  top: calc(50% - 0.5px);
  position: absolute;
}

.filter-container .advanced-search .title::before {
  content: "";
  background-color: #fff;
  height: 1px;
  width: 100px;
  left: calc(100% + 0px);
  top: calc(50% - 0.5px);
  position: absolute;
}

.filter-container .filter-submit {
  text-align: center;
}

.filter-container .filter-submit .submit-cont {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.filter-container .filter-submit .submit-cont:after, .filter-container .filter-submit .submit-cont:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.filter-container .filter-submit .submit-cont:after {
  top: 0;
  left: 100%;
}

.filter-container .filter-submit .submit-cont:before {
  bottom: 0;
  left: -100%;
}

.filter-container .filter-submit .submit-cont input[type="submit"] {
  width: 190px;
  cursor: pointer;
  font-weight: normal;
  background-color: #fff;
  border: none;
  color: #11647a;
  padding: 12px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 auto;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.filter-container .filter-submit .submit-cont:hover:after, .filter-container .filter-submit .submit-cont:hover:before {
  left: 0;
}

.filter-container .filter-submit .submit-cont:hover input[type="submit"] {
  color: white;
  background-color: transparent;
}

.about-container {
  background-image: url(../img/about-bg.jpg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 60vh;
  min-height: 700px;
  overflow: hidden;
}

.about-container .container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-container .container .content .about-title {
  color: #11647a;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.about-container .container .content .about-title .about-upper-title {
  width: 450px;
  overflow: hidden;
}

.about-container .container .content .about-title .about-upper-title span {
  font-weight: 100;
  margin-left: 50px;
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}

.about-container .container .content .about-title .about-upper-title span:before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #11647a;
  position: absolute;
  top: calc(50% - 1px);
  right: 100%;
}

.about-container .container .content .about-title .about-upper-title span:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #11647a;
  position: absolute;
  top: calc(50% - 1px);
  left: 100%;
}

.about-container .container .content .about-title .focus {
  font-weight: 700;
  font-size: 2em;
  position: relative;
}

.about-container .container .content .about-title .focus:before {
  width: 740px;
  content: attr(data-text);
  position: absolute;
  font-weight: bold;
  font-size: 5.5rem;
  bottom: 100%;
  right: -50px;
  color: transparent;
  letter-spacing: -4px;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(17, 100, 122, 0.1);
  -webkit-text-stroke-color: rgba(17, 100, 122, 0.1);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.about-container .container .content .text {
  font-weight: 300;
  font-size: 14px;
  max-width: 450px;
  margin-bottom: 20px;
}

.about-container .container .content .vermas {
  border-radius: 20px;
  padding: 10px 15px;
  display: inline-block;
  background-color: #11647a;
  color: white;
  font-weight: 100;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
}

.about-container .container .content .vermas:after, .about-container .container .content .vermas:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #11647a;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.about-container .container .content .vermas:after {
  top: 0;
  left: 100%;
}

.about-container .container .content .vermas:before {
  bottom: 0;
  left: -100%;
}

.about-container .container .content .vermas:hover {
  background-color: transparent;
  color: #11647a;
}

.about-container .container .content .vermas:hover:after, .about-container .container .content .vermas:hover:before {
  left: 0;
}

.video-container {
  background-image: url(../img/video-bg.jpg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding: 60px;
}

.video-container .container {
  max-width: 1280px;
  margin: 0 auto;
}

.video-container .container .title {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  color: #11647a;
}

.video-container .container .title .focus {
  font-weight: 700;
  font-size: 1.7em;
  position: relative;
}

.video-container .container .title .focus:before {
  content: attr(data-text);
  position: absolute;
  font-weight: bold;
  font-size: 4.8rem;
  top: 0px;
  left: calc(50% - 320px);
  color: transparent;
  letter-spacing: -4px;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(17, 100, 122, 0.1);
  -webkit-text-stroke-color: rgba(17, 100, 122, 0.1);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.video-container .container .video {
  width: 700px;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-shadow: -10px -10px 0 -1px #11647a;
          box-shadow: -10px -10px 0 -1px #11647a;
}

.video-container .container .video iframe {
  width: 100%;
  height: 350px;
}

.video-container .container .grid {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
}

.video-container .container .grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  padding: 10px;
  padding-left: 15px;
  border-right: 2px solid #11647a;
}

.video-container .container .grid .item:first-child, .video-container .container .grid .item:last-child {
  width: 35%;
}

.video-container .container .grid .item:last-child {
  border: none;
}

.video-container .container .grid .item img {
  width: 55px;
  margin-right: 10px;
}

.video-container .container .grid .item .content {
  color: #11647a;
  text-transform: uppercase;
}

.video-container .container .grid .item .content .min-title {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.video-container .container .grid .item .content .text {
  font-weight: 100;
  font-size: 14px;
}

.contact-container {
  background-image: url(../img/contact-bg.jpg);
  padding: 60px;
}

.contact-container .container {
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-container .container .col .title {
  color: white;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  position: relative;
}

.contact-container .container .col .title:before {
  content: attr(data-text);
  position: absolute;
  font-weight: bold;
  font-size: 5rem;
  top: -30px;
  left: -50px;
  color: transparent;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(255, 255, 255, 0.1);
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.1);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.contact-container .container .col .text {
  margin-top: 20px;
  font-weight: 100;
  color: white;
  max-width: 500px;
}

.contact-container .container .col .form {
  width: 600px;
  margin-top: 30px;
  color: #11647a;
}

.contact-container .container .col .form .form-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0;
}

.contact-container .container .col .form .form-row .form-group {
  width: 49%;
}

.contact-container .container .col .form .form-row .form-group input {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: #11647a;
  font-weight: 100;
  height: 40px;
}

.contact-container .container .col .form .form-row .form-group input::-webkit-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .form-group input:-ms-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .form-group input::-ms-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .form-group input::placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .form-group .select-cont {
  position: relative;
}

.contact-container .container .col .form .form-row .form-group .select-cont .value {
  cursor: pointer;
  font-weight: 100;
  background-color: #fff;
  color: #11647a;
  width: 100%;
  padding: 10px;
  height: 40px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container .container .col .form .form-row .form-group .select-cont .value:before {
  content: "";
  background-image: url(../img/arrow-down-alternate.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
  top: 11px;
  width: 12px;
  height: 10px;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul {
  width: 100%;
  position: absolute;
  background-color: rgba(1, 48, 63, 0.9);
  padding: 5px;
  border-radius: 0 0 0 10px;
  margin: 0;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.1s linear, max-height 0.35s ease-in;
  transition: opacity 0.1s linear, max-height 0.35s ease-in;
  z-index: 10;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li {
  color: white;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
  font-size: 9px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  margin: 2px;
  padding: 10px 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: background-color 0.2s ease, color 0.2s linear;
  transition: background-color 0.2s ease, color 0.2s linear;
  cursor: pointer;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:after, .contact-container .container .col .form .form-row .form-group .select-cont ul li:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  -webkit-transition: left 0.2s ease-in-out;
  transition: left 0.2s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:after {
  top: 0;
  left: 100%;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:before {
  bottom: 0;
  left: -100%;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:hover:after, .contact-container .container .col .form .form-row .form-group .select-cont ul li:hover:before {
  left: 0;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul li:last-child {
  border-bottom: none;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active {
  opacity: 1;
  max-height: 200px;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li {
  height: auto;
  -webkit-animation-name: LiOption;
          animation-name: LiOption;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(1n) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(2n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(3n) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(4n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.contact-container .container .col .form .form-row .form-group .select-cont ul.active li:nth-child(5n) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.contact-container .container .col .form .form-row textarea {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 14px;
  font-weight: 100;
  height: 110px;
}

.contact-container .container .col .form .form-row textarea::-webkit-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row textarea:-ms-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row textarea::-ms-input-placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row textarea::placeholder {
  color: #11647a;
}

.contact-container .container .col .form .form-row .submit-cont {
  position: relative;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  overflow: hidden;
}

.contact-container .container .col .form .form-row .submit-cont:after, .contact-container .container .col .form .form-row .submit-cont:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.contact-container .container .col .form .form-row .submit-cont:after {
  top: 0;
  left: 100%;
}

.contact-container .container .col .form .form-row .submit-cont:before {
  bottom: 0;
  left: -100%;
}

.contact-container .container .col .form .form-row .submit-cont input[type="submit"] {
  width: 130px;
  padding: 10px;
  height: 40px;
  background-color: #01303f;
  font-weight: 100;
  color: white;
  border: none;
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  cursor: pointer;
}

.contact-container .container .col .form .form-row .submit-cont:hover input[type="submit"] {
  background-color: transparent;
}

.contact-container .container .col .form .form-row .submit-cont:hover:after, .contact-container .container .col .form .form-row .submit-cont:hover:before {
  left: 0;
}

.contact-container .container .col .content {
  max-width: 500px;
}

.contact-container .container .col .content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.contact-container .container .col .content .row .column {
  font-size: 12px;
  color: white;
  font-weight: 100;
}

.contact-container .container .col .content .row .column img {
  width: 20px;
  margin: 10px;
  margin-right: 20px;
}

.contact-container .container .col .content .row .column a {
  display: inline-block;
  overflow: hidden;
  font-weight: 100;
  padding: 5px 0;
  color: white;
  position: relative;
}

.contact-container .container .col .content .row .column a:before, .contact-container .container .col .content .row .column a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.contact-container .container .col .content .row .column a::before {
  top: 0;
  left: 100%;
}

.contact-container .container .col .content .row .column a:after {
  bottom: 0;
  left: -100%;
}

.contact-container .container .col .content .row .column a:hover:after, .contact-container .container .col .content .row .column a:hover:before {
  left: 0;
}
