.home-banner .cont-size {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.home-banner .cont-size img {
  width: 100%;
}

.home-banner .cont-size .cont-info {
  position: absolute;
  width: 50%;
  margin-bottom: 60px;
}

.home-banner .cont-size .cont-info h1 {
  text-transform: uppercase;
  font-size: 36px;
  color: #066881;
  margin: 0;
  margin-left: 4%;
}

.home-banner .cont-size .cont-info h1 strong {
  font-size: 42px;
  font-weight: 700;
}

.home-banner .cont-size .cont-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 14%;
  display: inline-block;
}

.home-banner .cont-size .cont-info ul li {
  background-color: #00596e;
  color: white;
  padding: 7px 30px;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  margin-bottom: 23px;
}

.home-banner .cont-size .cont-info ul li:last-child {
  margin-bottom: 0;
}

.hero-banner {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 50px;
}

.mini-banner-slider {
  position: relative;
}

.mini-banner-slider .item {
  min-height: 140px;
  padding: 30px 50px;
  text-transform: uppercase;
  font-size: 40px;
  color: #066881;
  background-size: cover;
  background-position: center;
}

.mini-banner-slider .item p {
  margin: 0;
}

.mini-banner-slider .item p strong {
  font-weight: 700;
}

.mini-banner-slider.owl-theme .owl-nav,
.mini-banner-slider.owl-theme .owl-dots {
  position: absolute;
}

.mini-banner-slider.owl-theme .owl-dots {
  width: 100%;
  bottom: 5px;
}

.mini-banner-slider.owl-theme .owl-dots button span {
  background-color: #858687;
  margin: 0 3px;
}

.mini-banner-slider.owl-theme .owl-dots button.active span, .mini-banner-slider.owl-theme .owl-dots button:hover span {
  background-color: #066881;
}

.grid-dept-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.grid-dept-container .item {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  height: calc(100vh - 75px);
  max-height: 900px;
  position: relative;
}

.grid-dept-container .item .logo-dept {
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-top: 30px;
  position: relative;
}

.grid-dept-container .item .logo-dept img {
  width: 80%;
  max-width: 200px;
  margin: 0 auto;
  margin-right: 40px;
}

.grid-dept-container .item .bg-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  top: 0;
  left: 0;
}

.contenedor-general-items {
  margin-top: 75px;
}

.contenedor-general-items .contenedor-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contenedor-general-items .contenedor-items .cont-item {
  width: calc(50% - 8px);
  margin: 0 8px 16px;
  overflow: hidden;
  position: relative;
}

.contenedor-general-items .contenedor-items .cont-item > img {
  width: 100%;
  display: block;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.contenedor-general-items .contenedor-items .cont-item .mask {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor-general-items .contenedor-items .cont-item .mask p {
  font-size: 18px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-right: 10px;
}

.contenedor-general-items .contenedor-items .cont-item .mask img {
  width: 12px;
}

.contenedor-general-items .contenedor-items .cont-item:nth-child(2n - 1) {
  margin-left: 0;
}

.contenedor-general-items .contenedor-items .cont-item:nth-child(2n) {
  margin-right: 0;
}

.contenedor-general-items .contenedor-items .cont-item:hover > img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.contenedor-general-valores {
  padding: 140px 0;
  position: relative;
}

.contenedor-general-valores .dec-izq {
  position: absolute;
  left: 0;
  top: 70px;
  width: 40px;
  height: auto;
}

.contenedor-general-valores .dec-der {
  position: absolute;
  right: 0;
  top: -115px;
  width: 210px;
  height: auto;
}

.contenedor-general-valores .title {
  font-size: 21px;
  font-weight: 300;
  color: #11647a;
  width: 90%;
  margin: 0 auto;
}

.contenedor-general-valores .title .focus {
  font-weight: 700;
  font-size: 50px;
  position: relative;
}

.contenedor-general-valores .contenedor-info-valores {
  width: 88%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contenedor-general-valores .contenedor-info-valores .cont-info-valor {
  width: calc(100% / 7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor-general-valores .contenedor-info-valores .cont-info-valor .info {
  width: 140%;
  left: -20%;
  position: relative;
}

.contenedor-general-valores .contenedor-info-valores .cont-info-valor .info img {
  width: 17%;
  min-width: 37px;
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}

.contenedor-general-valores .contenedor-info-valores .cont-info-valor .info p {
  font-size: 14px;
  font-weight: 100;
  color: #066881;
  margin: 0;
  text-align: justify;
}

.contenedor-general-valores .contenedor-info-valores .cont-info-valor .info .tit {
  font-size: 17px;
  font-weight: bold;
  color: #065973;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  display: none;
}

.contenedor-general-valores .contenedor-info-valores .cont-info-valor.active {
  opacity: 1;
}

.contenedor-general-valores .contenedor-valores {
  width: 92%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contenedor-general-valores .contenedor-valores .cont-valor {
  width: calc(100% / 7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contenedor-general-valores .contenedor-valores .cont-valor .item {
  width: 21px;
  height: 21px;
  background: #1d7f98;
  border-radius: 100%;
}

.contenedor-general-valores .contenedor-valores .cont-valor::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 1px;
  width: 38%;
  background: #1d7f98;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.contenedor-general-valores .contenedor-valores .cont-valor::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  height: 1px;
  width: 38%;
  background: #1d7f98;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
}

.contenedor-general-valores .contenedor-valores .cont-valor .tit {
  font-size: 17px;
  font-weight: bold;
  color: #065973;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: -25px;
}

.contenedor-general-valores .contenedor-valores .cont-valor:hover {
  opacity: 0.7;
}

.contenedor-general-valores .contenedor-valores .cont-valor:first-child::before {
  display: none;
}

.contenedor-general-valores .contenedor-valores .cont-valor:last-child::after {
  display: none;
}

.contenedor-general-valores .contenedor-valores .cont-valor:nth-child(2) .item, .contenedor-general-valores .contenedor-valores .cont-valor:nth-child(6) .item {
  background: #46a8c1;
}

.contenedor-general-valores .contenedor-valores .cont-valor:nth-child(3) .item, .contenedor-general-valores .contenedor-valores .cont-valor:nth-child(5) .item {
  background: #73d5ee;
}

.contenedor-general-valores .contenedor-valores .cont-valor:nth-child(4) .item {
  background: #b0efff;
  width: 50px;
  height: 50px;
}

.contenedor-general-valores .contenedor-valores .cont-valor:nth-child(2n) .tit {
  bottom: -60px;
}

@-webkit-keyframes LiOption {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes LiOption {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.filter-container {
  background-image: url(../img/filter-search-bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 60px;
}

.filter-container .filter-title {
  font-size: 21px;
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 100;
  margin-bottom: 30px;
}

.filter-container .filter-title .focus {
  font-weight: 700;
  font-size: 45px;
}

.filter-container .filters {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0px auto;
  position: relative;
  z-index: 1000;
}

.filter-container .filters:nth-child(3) {
  z-index: 999;
}

.filter-container .filters .col {
  text-align: center;
  width: 50%;
}

.filter-container .filters .col .filter-cont {
  margin: 5px;
  position: relative;
  max-width: 200px;
}

.filter-container .filters .col .filter-cont .value {
  cursor: pointer;
  font-weight: 100;
  color: white;
  border: 1px solid white;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  position: relative;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s linear;
  transition: background-color 0.3s linear;
  font-size: 12px;
}

.filter-container .filters .col .filter-cont .value:hover {
  background-color: #00596e;
}

.filter-container .filters .col .filter-cont .value:before {
  content: "";
  background-image: url(../img/arrow-down.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 8px;
  top: 12px;
  width: 10px;
  height: 9px;
}

.filter-container .filters .col .filter-cont ul {
  width: 100%;
  position: absolute;
  background-color: #00596e;
  border-radius: 0 0 0 10px;
  margin: 0;
  z-index: 10;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: opacity 0.1s linear, max-height 0.35s ease-in;
  transition: opacity 0.1s linear, max-height 0.35s ease-in;
}

.filter-container .filters .col .filter-cont ul li {
  color: white;
  font-weight: 100;
  text-align: left;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  margin: 2px;
  list-style: none;
  font-size: 9px;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  height: 0;
  opacity: 0;
  -webkit-transition: background-color 0.2s ease, color 0.2s linear;
  transition: background-color 0.2s ease, color 0.2s linear;
  cursor: pointer;
  overflow: hidden;
}

.filter-container .filters .col .filter-cont ul li:after, .filter-container .filters .col .filter-cont ul li:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
}

.filter-container .filters .col .filter-cont ul li:after {
  top: 0;
  left: 100%;
}

.filter-container .filters .col .filter-cont ul li:before {
  bottom: 0;
  left: -100%;
}

.filter-container .filters .col .filter-cont ul li:hover:after, .filter-container .filters .col .filter-cont ul li:hover:before {
  left: 0;
}

.filter-container .filters .col .filter-cont ul li:last-child {
  border: none;
}

.filter-container .filters .col .filter-cont ul.active {
  z-index: 100;
  opacity: 1;
  padding: 10px;
  max-height: 200px;
}

.filter-container .filters .col .filter-cont ul.active li {
  height: auto;
  padding: 10px 5px;
  -webkit-animation-name: LiOption;
          animation-name: LiOption;
  -webkit-animation-duration: 0.4s;
          animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(1n) {
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(2n) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(3n) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(4n) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.filter-container .filters .col .filter-cont ul.active li:nth-child(5n) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.filter-container .advanced-search {
  width: 390px;
  margin: 10px auto;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter-container .advanced-search .title {
  width: 190px;
  color: white;
  position: relative;
  display: inline-block;
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
}

.filter-container .advanced-search .title .little-arrow {
  background-image: url(../img/arrow-down.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.filter-container .advanced-search .title::after {
  content: "";
  background-color: #fff;
  height: 1px;
  width: 100px;
  right: calc(100% + 0px);
  top: calc(50% - 0.5px);
  position: absolute;
}

.filter-container .advanced-search .title::before {
  content: "";
  background-color: #fff;
  height: 1px;
  width: 100px;
  left: calc(100% + 0px);
  top: calc(50% - 0.5px);
  position: absolute;
}

.filter-container .filter-submit {
  text-align: center;
}

.filter-container .filter-submit .submit-cont {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.filter-container .filter-submit .submit-cont:after, .filter-container .filter-submit .submit-cont:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: white;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.filter-container .filter-submit .submit-cont:after {
  top: 0;
  left: 100%;
}

.filter-container .filter-submit .submit-cont:before {
  bottom: 0;
  left: -100%;
}

.filter-container .filter-submit .submit-cont input[type="submit"] {
  width: 190px;
  cursor: pointer;
  font-weight: normal;
  background-color: #fff;
  border: none;
  color: #066881;
  padding: 12px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0 auto;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}

.filter-container .filter-submit .submit-cont:hover:after, .filter-container .filter-submit .submit-cont:hover:before {
  left: 0;
}

.filter-container .filter-submit .submit-cont:hover input[type="submit"] {
  color: white;
  background-color: transparent;
}

.about-container {
  background-image: url(../img/about-bg.jpg);
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100vh;
  min-height: 700px;
  overflow: hidden;
}

.about-container .container {
  max-width: 1280px;
  width: 92%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.about-container .container .content .about-title {
  color: #066881;
  text-transform: uppercase;
  font-size: 21px;
  margin-bottom: 20px;
}

.about-container .container .content .about-title .about-upper-title {
  width: 450px;
  overflow: hidden;
  margin-bottom: 2px;
}

.about-container .container .content .about-title .about-upper-title span {
  font-weight: 100;
  margin-left: 16%;
  display: inline-block;
  position: relative;
  padding: 0px 10px;
}

.about-container .container .content .about-title .about-upper-title span:before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #066881;
  position: absolute;
  top: calc(50% - 1px);
  right: 100%;
}

.about-container .container .content .about-title .about-upper-title span:after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #066881;
  position: absolute;
  top: calc(50% - 1px);
  left: 100%;
}

.about-container .container .content .about-title .focus {
  font-weight: 700;
  font-size: 50px;
  position: relative;
}

.about-container .container .content .about-title .focus:before {
  width: 771px;
  content: attr(data-text);
  position: absolute;
  font-weight: bold;
  font-size: 93px;
  bottom: 115%;
  right: -90px;
  color: transparent;
  letter-spacing: -5px;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(6, 104, 129, 0.15);
  -webkit-text-stroke-color: rgba(6, 104, 129, 0.15);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.about-container .container .content .text {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  max-width: 500px;
  margin-bottom: 20px;
}

.about-container .container .content .vermas {
  border-radius: 20px;
  padding: 10px 20px;
  display: inline-block;
  background-color: #066881;
  color: white;
  font-weight: 100;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  overflow: hidden;
}

.about-container .container .content .vermas:after, .about-container .container .content .vermas:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #066881;
  position: absolute;
  -webkit-transition: left 0.3s ease-in-out;
  transition: left 0.3s ease-in-out;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.about-container .container .content .vermas:after {
  top: 0;
  left: 100%;
}

.about-container .container .content .vermas:before {
  bottom: 0;
  left: -100%;
}

.about-container .container .content .vermas:hover {
  background-color: transparent;
  color: #066881;
}

.about-container .container .content .vermas:hover:after, .about-container .container .content .vermas:hover:before {
  left: 0;
}

.about-container .container .content .vermas:hover a {
  color: #066881;
}

.about-container .container .content .vermas a {
  color: white;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.video-container {
  background-image: url(../img/video-bg.jpg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  padding: 60px;
}

.video-container .container {
  max-width: 1280px;
  margin: 0 auto;
}

.video-container .container .title {
  font-size: 26px;
  font-weight: 300;
  text-align: center;
  color: #066881;
  margin-bottom: 60px;
}

.video-container .container .title .focus {
  font-weight: 700;
  font-size: 45px;
  position: relative;
}

.video-container .container .title .focus:before {
  content: attr(data-text);
  position: absolute;
  font-weight: bold;
  font-size: 93px;
  top: 5px;
  left: calc(50% - 430px);
  color: transparent;
  letter-spacing: -5px;
  -moz-text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  -moz-text-stroke-color: rgba(6, 104, 129, 0.15);
  -webkit-text-stroke-color: rgba(6, 104, 129, 0.15);
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-width: 1px;
}

.video-container .container .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 30px;
}

.video-container .container .cont .video {
  max-width: 750px;
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  -webkit-box-shadow: -10px -10px 0 -1px #066881;
          box-shadow: -10px -10px 0 -1px #066881;
}

.video-container .container .cont .video iframe {
  width: 100%;
  height: 450px;
}

.video-container .container .cont .grid {
  max-width: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.video-container .container .cont .grid .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 15px;
}

.video-container .container .cont .grid .item:last-child .content:before {
  height: 0;
}

.video-container .container .cont .grid .item img {
  width: 80px;
  margin-right: 10px;
}

.video-container .container .cont .grid .item .content {
  color: #066881;
  text-transform: uppercase;
  padding-bottom: 15px;
  width: 160px;
  margin-bottom: -10px;
  margin-left: 10px;
  position: relative;
}

.video-container .container .cont .grid .item .content:before {
  content: "";
  height: 1px;
  width: 100%;
  max-width: 100px;
  background-color: #066881;
  top: calc(100% - 1px);
  position: absolute;
  left: 0;
}

.video-container .container .cont .grid .item .content .min-title {
  font-size: 10px;
  font-weight: bold;
  margin-bottom: 10px;
}

.video-container .container .cont .grid .item .content .text {
  font-weight: 100;
  font-size: 14px;
}

@media screen and (min-width: 1600px) {
  .home-banner .cont-size .cont-info h1 {
    font-size: 50px;
  }
  .home-banner .cont-size .cont-info h1 strong {
    font-size: 56px;
  }
  .home-banner .cont-size .cont-info ul li {
    font-size: 26px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about-container {
    background-size: cover !important;
    background-position: center !important;
  }
  .about-container .container .content .text {
    max-width: 455px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contenedor-general-valores .title {
    width: 85%;
  }
  .contenedor-general-valores .contenedor-valores {
    width: 96%;
  }
  .contenedor-general-valores .contenedor-valores .cont-valor .tit {
    font-size: 14px;
  }
  .video-container .container .video {
    width: 100%;
    max-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .home-banner .cont-size {
    height: 400px;
  }
  .home-banner .cont-size img {
    visibility: hidden;
  }
  .home-banner .cont-size .cont-info {
    width: 100%;
    margin-bottom: 60px;
  }
  .home-banner .cont-size .cont-info h1 {
    font-size: 26px;
    margin-left: 4%;
  }
  .home-banner .cont-size .cont-info h1 strong {
    font-size: 32px;
  }
  .home-banner .cont-size .cont-info ul {
    margin-top: 14%;
  }
  .home-banner .cont-size .cont-info ul li {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .mini-banner-slider .item {
    font-size: 21px;
    padding: 30px 20px;
    min-height: unset;
  }
  .grid-dept-container .item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    height: 250px;
  }
  .grid-dept-container .item .logo-dept img {
    margin-right: 0;
    width: 95%;
  }
  .contenedor-general-items .contenedor-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-items .contenedor-items .cont-item {
    width: 100%;
    margin: 10px 0;
  }
  .contenedor-general-items .contenedor-items .cont-item:first-child {
    margin-top: 0;
  }
  .contenedor-general-items .contenedor-items .cont-item:last-child {
    margin-bottom: 0;
  }
  .filter-container {
    padding: 60px 20px;
    overflow: hidden;
  }
  .filter-container .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .filter-container .filters .col {
    width: 85%;
  }
  .filter-container .filters .col .filter-cont {
    max-width: inherit;
  }
  .filter-container .advanced-search {
    width: 100%;
  }
  .filter-container .advanced-search .title {
    width: auto;
  }
  .contenedor-general-valores {
    padding: 140px 0 30px;
  }
  .contenedor-general-valores .dec-der {
    width: 160px;
  }
  .contenedor-general-valores .title {
    width: 70%;
  }
  .contenedor-general-valores .contenedor-info-valores {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contenedor-general-valores .contenedor-info-valores .cont-info-valor {
    opacity: 1;
    width: 100%;
    margin: 10px 0;
  }
  .contenedor-general-valores .contenedor-info-valores .cont-info-valor .info {
    width: 100%;
    left: inherit;
  }
  .contenedor-general-valores .contenedor-info-valores .cont-info-valor .info .tit {
    display: block;
  }
  .contenedor-general-valores .contenedor-valores {
    display: none;
  }
  .about-container {
    padding: 100px 20px 100px 20px;
    background-position: right !important;
    background-size: cover !important;
  }
  .about-container .container {
    width: 100%;
  }
  .about-container .container .content .about-title .about-upper-title {
    width: 100%;
    margin-bottom: 6px;
  }
  .about-container .container .content .about-title .focus::before {
    width: auto;
    font-size: 30px;
    font-size: 70px;
    right: inherit;
  }
  .about-container .container .content .text {
    max-width: unset;
  }
  .video-container {
    padding: 60px 20px;
  }
  .video-container .container .title .focus::before {
    width: auto;
    font-size: 30px;
    font-size: 70px;
    right: inherit;
    left: 0;
  }
  .video-container .container .cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video-container .container .video {
    width: 100%;
  }
  .video-container .container .video iframe {
    height: 300px !important;
  }
  .video-container .container .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .video-container .container .grid .item {
    width: 100% !important;
    border-right: none;
  }
  .video-container .container .grid .item:last-child {
    border-bottom: none;
  }
}
