header {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: transparent;
}

header a.brand-logo img {
  opacity: 0;
}

header a.brand-logo img.scrolled {
  opacity: 1;
}

header .cont-menu {
  margin-top: 15px;
}

header .cont-menu ul li a {
  color: white;
}

header .cont-menu ul li a:hover:before, header .cont-menu ul li a:hover:after {
  background-color: white;
}

header .cont-menu .social-links a.item-txt {
  color: white;
}

header .cont-menu .social-links a.item img {
  opacity: 1;
}

header .cont-menu .social-links a.item img.img-alt {
  opacity: 0;
}

header .cont-menu .social-links a.item:hover:before, header .cont-menu .social-links a.item:hover:after {
  border-color: white;
}

.contact-container {
  height: 100vh;
  min-height: 600px;
  max-height: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-size: cover;
}

.contact-container .container {
  width: 100%;
}
