@import "variables";
.content-area {
    display: flex;
    align-items: center;
    justify-content: center;
    .content_404 {
        width: 100%;
        padding: 180px 60px;
        min-height: calc(100vh - 343px);
        background-image: url(../img/search-bg.jpg);
        background-position: center;
        background-size: cover;
        text-align: center;
        a {
            color: $main;
            font-weight: $bold;
            font-size: 20px;
        }
        h {
            &1,
            &2,
            &3,
            &4,
            &5,
            &6 {
                font-weight: bolder;
                color: $main;
            }
        }
    }
}
