footer {
    background-color: #4d4e53;
    padding: 60px;
    .columns {
        display: flex;
        align-items: flex-start;
        justify-content: start;
        flex-wrap: wrap;
        flex-direction: row;
        .column {
            flex: 1 0 25%;
            max-width: 25%;
            a {
                max-width: 300px;
                cursor: pointer;
                img {
                    width: 100%;
                    max-width: 250px;
                }
            }

            .footer-title {
                color: #066881;
                font-weight: bold;
            }
            .footer-menu {
                padding: 0;
                margin: 0;
                margin-top: 10px;
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        list-style: none;
                        margin: 5px;
                        padding: 5px 0px;
                        a {
                            font-weight: 100;
                            font-size: 14px;
                            color: #828285;
                            &:hover {
                                color: white;
                            }
                        }
                        &.active {
                            a {
                                color: white;
                            }
                        }
                    }
                }
            }
            .footer-text {
                font-weight: 100;
                margin-top: 10px;
                font-size: 14px;
                color: white;
                max-width: 300px;
            }
        }
    }
    .bottom {
        font-size: 12px;
        font-weight: 100;
        color: white;
        padding: 10px 60px;
        margin-top: 10px;
        a {
            color: #828285;
            &:hover {
                color: white;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        .columns {
            justify-content: space-between;
            .column {
                flex: inherit;
                width: 30%;
                max-width: unset;
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        padding: 25px;
        .columns {
            flex-direction: column;
            .column {
                flex: inherit;
                width: 100%;
                max-width: unset;
                text-align: center;
                margin: 10px 0;

                .footer-menu {
                    ul {
                        li {
                            margin: 0;
                            padding: 2px 0;
                        }
                    }
                }

                &:nth-child(2) {
                    display: none;
                }
            }
        }
        .bottom {
            padding: 10px 0;
            text-align: center;
        }
    }
}
