@import "variables";
@import "header";
@import "footer";

* {
    box-sizing: border-box;
    font-family: $font;
    font-weight: $regular;
    line-height: 1;
    // scroll-behavior: smooth;
}

html,
body {
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    // background-color: darkgrey;
}
a {
    text-decoration: none;
    transition: all 0.2s ease;
}

.main-content {
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 81px;
    padding: 10px 50px;
    padding-bottom: 40px;
}

/* CONTACT */
@import "contact";
