@import "variables";

// Keyframes

@keyframes map_point {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }

    90% {
        opacity: 1;
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}

// Map Data Points
.map-container {
    background-image: url(../img/map-bg.jpg);
    background-position: center;
    //height: 100vh;
    //max-height: 600px;
    padding: 50px 60px;
    position: relative;

    .container {
        //max-width: 1280px;
        margin: 0 auto;
        display: flex;
        .column {
            //flex: 1 0 40%;
            &:first-child{
                width: 35%;
            }
            &:last-child{
                width: 65%;
            }
            .title {
                color: $alt;
                text-transform: uppercase;
                font-size: 25px;
                font-weight: $book;
                text-indent: 20px;
                .bold-title {
                    font-weight: $bold;
                    text-indent: 0px;
                    font-size: 45px;
                }
            }

            .data-points {
                position: absolute;
                top: 40%;
                left: -1000px;
                transform: all 0.4s ease;
                &.active {
                    left: 0;
                    opacity: 1;
                    .item {
                        ul {
                            li {
                                transition: left 300ms ease-in-out, opacity 100ms;
                                animation: map_point 2.1s ease-in-out 0.15s 1 forwards;
                                transform: translateX(-1000px);

                                @for $i from 1 through 10 {
                                    &:nth-child(#{$i}n) {
                                        animation-delay: #{$i * 0.15}s;
                                        margin-left: #{$i * 0.75 + 14}em;
                                    }
                                }
                            }
                        }
                    }
                }

                &.hide {
                    left: -1000px;
                    opacity: 0;
                }
                .item {
                    .state {
                        background-color: $alt;
                        color: white;
                        padding: 6px 35px;
                        border-radius: 10px;
                        text-transform: uppercase;
                        margin-left: 8em;
                        text-align: center;
                        font-size: 22px;
                        font-weight: $book;
                        transition: all 0.3s ease-in-out;
                        position: relative;
                        display: inline;
                        &:before {
                            content: "";
                            position: absolute;
                            top: calc(50% - 1.5px);
                            right: 100%;
                            width: 1000px;
                            height: 3px;
                            background-color: $alt;
                        }
                    }

                    ul {
                        margin-top: 30px;
                        li {
                            color: $main;
                            text-transform: uppercase;
                            margin-left: 18.5em;
                            font-size: 20px;
                            margin-bottom: 10px;
                            position: relative;

                            &:before {
                                content: "";
                                position: absolute;
                                top: calc(50%);
                                right: calc(100% + 14px);
                                width: 1000px;
                                height: 2.5px;
                                background-color: $alt;
                            }

                            &:hover {
                                transform: translateX(0.5em);
                            }
                        }
                    }
                }
            }
        }
    }
}

#MX- {
    &BCN,
    &CHH,
    &SIN,
    &NEL,
    &ZAC,
    &MIC,
    &OAX,
    &YUC,
    &TAB,
    &HID {
        fill: #959595;
    }

    &DUR,
    &VER,
    &CAM,
    &GRO {
        fill: #d1d1d1;
    }
}


// SVG
svg {
    path {
        fill: #bbbbbb;
        cursor: pointer;
        transform-origin: center center;
        transform-box: fill-box;
        stroke-width: 1;

        &.selected {
            transition: all 0.2s ease-in-out;
            fill: $main !important;
            transition: all 0.3s ease-in-out;
            stroke: transparent;

            &:hover {
                filter: url(#shadow);
                stroke: white;
            }

        }

        &.active {
            filter: url(#shadow);
            stroke: white;
        }
    }
    /*
    g {
        transform-origin: center center;
        transform-box: fill-box;
        &.selected {
            transition: all 0.2s ease-in-out;

            &:hover {
                filter: url(#shadow);
            }

            path{
                fill: $main;
                transition: all 0.3s ease-in-out;
                stroke: transparent;
                &:hover {
                    stroke: white;
                }
            }
        }

        &.active {
            filter: url(#shadow);
            path{
                stroke: white;
            }
        }
    }
    */
}

@media screen and (min-width: 768px) and (max-width: 1149px) {


    .map-container{
        padding: 50px 20px;
        .container{
            .column{
                .data-points{
                    .item{
                        .state{
                            margin-left: 2em;
                            font-size: 20px;
                        }
                        ul {
                            li {
                                margin-left: 4em;
                                font-size: 17px;
                            }
                        }
                    }
                    &.active {
                        .item {
                            ul {
                                li {
                                    transform: translateX(-200px);
    
                                    @for $i from 1 through 10 {
                                        &:nth-child(#{$i}n) {
                                            animation-delay: #{$i * 0.15}s;
                                            margin-left: #{$i * 0.75 + 4}em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}



@media screen and (max-width: 767px) {
    
    .map-container{
        padding: 50px 20px;
        .container{
            flex-direction: column;
            .column{
                //flex: 1 0 100%;
                &:first-child{
                    width: 100%;
                }
                &:last-child{
                    width: 100%;
                }
                .data-points{
                    top: 30%;
                    .item{
                        .state{
                            margin-left: 1em;
                            font-size: 18px;
                        }
                        ul {
                            li {
                                margin-left: 2em;
                                font-size: 15px;
    
                                &:before {
                                    width: 100px;
                                }
                            }
                        }
                    }
                    &.active {
                        .item {
                            ul {
                                li {
                                    transform: translateX(-100px);
    
                                    @for $i from 1 through 10 {
                                        &:nth-child(#{$i}n) {
                                            animation-delay: #{$i * 0.15}s;
                                            margin-left: #{$i * 0.75 + 2}em;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &:last-child{
                    margin-top: 300px;
                }
            }
        }
    }

}