.contenedor-general-desarrollos{
    margin-top: 75px;
    .contenedor-general-desarrollo{
        background-size: cover;
        background-position: center;
        padding: 16px 33px 30px 23px;

        &:nth-child(1){
            background-image: url("../img/fondo-ancora.jpg");
            a.link-desarrollo{
                color: #8c2c5a;
            }
        }
        &:nth-child(2){
            background-image: url("../img/fondo-montalva.jpg");
            a.link-desarrollo{
                color: #dfaa03;
            }
        }
        &:nth-child(3){
            background-image: url("../img/fondo-tlanepantla.jpg");
            a.link-desarrollo{
                color: #153f71;
            }
        }
        &:nth-child(4){
            background-image: url("../img/fondo-bolognia.jpg");
            a.link-desarrollo{
                color: #dabe7e;
            }
        }

        .contenedor-desarrollo{
            display: flex;
            align-items: center;
            position: relative;
            padding-top: 33px;
            .logo-esq{
                position: absolute;
                top: 0;
                left: 0;
                height: 56px;
                width: auto;
            }
            .cont-info{
                width: 52%;
                color: white;
                .info{
                    padding-left: 50px;
                    width: 84%;
                    h1{
                        font-size: 34px;
                        font-weight: bold;
                        margin: 0;
                        margin-bottom: 25px;
                        position: relative;
                        &:before{
                            position: absolute;
                            bottom: -10px;
                            content: "";
                            height: 1px;
                            width: 83%;
                            background: white;
                            left: -73px;
                        }
                    }
                    p{
                        margin: 0;
                        margin-bottom: 20px;
                        font-size: 16px;

                        span{
                            font-size: 18px;
                        }

                        &.ubicacion{
                            font-size: 13px;
                            font-weight: 100;
                        }
                    }

                    .detalles{
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 20px;
                        div{
                            img{
                                height: 27px;
                                width: auto;
                                display: block;
                            }
                            p{
                                font-size: 16px;
                                font-weight: 100;
                                margin: 0;
                                margin-top: 10px;
                                span{
                                    font-weight: bold;
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    a.link-desarrollo{
                        display: inline-block;
                        font-size: 14px;
                        padding: 8px 28px;
                        border-radius: 30px;
                        background: white;
                        border: 1px solid white;
                        text-transform: uppercase;
                        font-weight: bold;
                        transition: all .3s;
                        &:hover{
                            background: transparent;
                            border: 1px solid white;
                            color: white;
                        }
                    }
                }
                img{
                    height: 60px;
                    width: auto;
                }
            }
            .cont-media{
                width: 48%;
                .desarrollo-slider{
                    .owl-stage-outer{
                        border: 8px solid white;
                    }
                    .owl-dots{
                        button{
                            outline: none;
                            span{
                                width: 12px;
                                height: 12px;
                                border: 1px solid white;
                                background: transparent;
                                margin: 5px;
                            }
                            &.active{
                                span{
                                    background: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}