@import "variables";
.hero-banner {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

@keyframes LiOption {
    0% {
        opacity: 0;
        transform: translateX(-5px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.filter-container {
    background-image: url(../img/filter-search-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px;
    .filter-title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: white;
        font-weight: 100;
        margin-bottom: 30px;
        .focus {
            font-weight: $bold;
            font-size: 1.7em;
        }
    }

    .filters {
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin: 0px auto;
        .col {
            text-align: center;
            width: 50%;
            .filter-cont {
                margin: 5px;
                position: relative;
                max-width: 200px;

                .value {
                    cursor: pointer;
                    font-weight: 100;
                    color: white;
                    border: 1px solid white;
                    width: 100%;
                    padding: 10px;
                    border-radius: 8px;
                    position: relative;
                    text-transform: uppercase;
                    transition: background-color 0.3s linear;
                    font-size: 12px;
                    &:hover {
                        background-color: $alt;
                    }
                    &:before {
                        content: "";
                        background-image: url(../img/arrow-down.png);
                        background-position: center;
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 8px;
                        top: 12px;
                        width: 10px;
                        height: 9px;
                    }
                }
                ul {
                    width: 100%;
                    position: absolute;
                    background-color: rgba($alt, 1);
                    // padding: 10px;
                    border-radius: 0 0 0 10px;
                    margin: 0;
                    z-index: 10;
                    opacity: 0;
                    max-height: 0;
                    overflow: hidden;

                    transition: opacity 0.1s linear, max-height 0.35s ease-in;
                    li {
                        color: white;
                        font-weight: 100;
                        text-align: left;
                        opacity: 0;
                        transform: translateX(-10px);
                        margin: 2px;
                        list-style: none;
                        font-size: 9px;
                        text-align: center;
                        text-transform: uppercase;
                        border-bottom: 1px solid rgba(white, 0.1);
                        height: 0;
                        opacity: 0;
                        transition: background-color 0.2s ease, color 0.2s linear;
                        cursor: pointer;
                        overflow: hidden;
                        &:after,
                        &:before {
                            content: "";
                            width: 100%;
                            height: 1px;
                            background-color: rgba(white, 0.8);
                            position: absolute;
                            transition: left 0.3s ease-in-out;
                        }

                        &:after {
                            top: 0;
                            left: 100%;
                        }
                        &:before {
                            bottom: 0;
                            left: -100%;
                        }

                        &:hover {
                            &:after,
                            &:before {
                                left: 0;
                            }
                        }
                        &:last-child {
                            border: none;
                        }
                    }

                    &.active {
                        z-index: 100;
                        opacity: 1;
                        padding: 10px;
                        max-height: 200px;
                        li {
                            height: auto;
                            padding: 10px 5px;
                            animation-name: LiOption;
                            animation-duration: 0.4s;
                            animation-iteration-count: 1;
                            animation-direction: normal;
                            animation-timing-function: ease-in;
                            animation-fill-mode: forwards;
                            @for $i from 1 through 5 {
                                &:nth-child(#{$i}n) {
                                    animation-delay: #{$i * 0.15}s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .advanced-search {
        width: 390px;
        margin: 10px auto;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        .title {
            width: 190px;
            color: white;
            position: relative;
            display: inline-block;
            padding: 5px 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-weight: $bold;
            .little-arrow {
                background-image: url(../img/arrow-down.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                width: 10px;
                height: 10px;
                margin-left: 10px;
            }
            &::after {
                content: "";
                background-color: #fff;
                height: 1px;
                width: 100px;
                right: calc(100% + 0px);
                top: calc(50% - 0.5px);
                position: absolute;
            }
            &::before {
                content: "";
                background-color: #fff;
                height: 1px;
                width: 100px;
                left: calc(100% + 0px);
                top: calc(50% - 0.5px);
                position: absolute;
            }
        }
    }
    .filter-submit {
        text-align: center;

        .submit-cont {
            display: inline-block;
            position: relative;
            overflow: hidden;
            &:after,
            &:before {
                content: "";
                width: 100%;
                height: 1px;
                background-color: white;
                position: absolute;
                transition: left 0.3s ease-in-out;
                transition-delay: 0.2s;
            }

            &:after {
                top: 0;
                left: 100%;
            }
            &:before {
                bottom: 0;
                left: -100%;
            }
            input[type="submit"] {
                width: 190px;
                cursor: pointer;
                font-weight: normal;
                background-color: #fff;
                border: none;
                color: $main;
                padding: 12px 10px;
                border-radius: 8px;
                text-transform: uppercase;
                font-size: 12px;
                margin: 0 auto;
                transition: background-color 0.2s linear;
            }

            &:hover {
                &:after,
                &:before {
                    left: 0;
                }
                input[type="submit"] {
                    color: white;
                    background-color: transparent;
                }
            }
        }
    }
}

.about-container {
    background-image: url(../img/about-bg.jpg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60vh;
    min-height: 700px;
    overflow: hidden;
    .container {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .content {
            .about-title {
                color: $main;
                text-transform: uppercase;
                font-size: 20px;
                margin-bottom: 20px;
                .about-upper-title {
                    width: 450px;
                    overflow: hidden;
                    span {
                        font-weight: 100;
                        margin-left: 50px;
                        display: inline-block;
                        position: relative;
                        padding: 0px 10px;
                        &:before {
                            content: "";
                            height: 1px;
                            width: 100%;
                            background-color: $main;
                            position: absolute;
                            top: calc(50% - 1px);
                            right: 100%;
                        }
                        &:after {
                            content: "";
                            height: 1px;
                            width: 100%;
                            background-color: $main;
                            position: absolute;
                            top: calc(50% - 1px);
                            left: 100%;
                        }
                    }
                }
                .focus {
                    font-weight: $bold;
                    font-size: 2em;
                    position: relative;
                    &:before {
                        width: 740px;
                        content: attr(data-text);
                        position: absolute;
                        font-weight: bold;
                        font-size: 5.5rem;
                        bottom: 100%;
                        right: -50px;
                        color: transparent;
                        letter-spacing: -4px;
                        -moz-text-fill-color: transparent;
                        -webkit-text-fill-color: transparent;
                        -moz-text-stroke-color: rgba($main, 0.1);
                        -webkit-text-stroke-color: rgba($main, 0.1);
                        -moz-text-stroke-width: 1px;
                        -webkit-text-stroke-width: 1px;
                    }
                }
            }

            .text {
                font-weight: $book;
                font-size: 14px;
                max-width: 450px;
                margin-bottom: 20px;
            }

            .vermas {
                border-radius: 20px;
                padding: 10px 15px;
                display: inline-block;
                background-color: $main;
                color: white;
                font-weight: 100;
                font-size: 14px;
                cursor: pointer;
                position: relative;
                transition: background-color 0.2s linear;
                overflow: hidden;
                &:after,
                &:before {
                    content: "";
                    width: 100%;
                    height: 1px;
                    background-color: $main;
                    position: absolute;
                    transition: left 0.3s ease-in-out;
                    transition-delay: 0.2s;
                }

                &:after {
                    top: 0;
                    left: 100%;
                }
                &:before {
                    bottom: 0;
                    left: -100%;
                }

                &:hover {
                    background-color: transparent;
                    color: $main;
                    &:after,
                    &:before {
                        left: 0;
                    }
                }
            }
        }
    }
}
.video-container {
    background-image: url(../img/video-bg.jpg);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    padding: 60px;
    .container {
        max-width: 1280px;
        margin: 0 auto;
        .title {
            font-size: 20px;
            font-weight: $book;
            text-align: center;
            color: $main;
            .focus {
                font-weight: $bold;
                font-size: 1.7em;
                position: relative;
                &:before {
                    content: attr(data-text);
                    position: absolute;
                    font-weight: bold;
                    font-size: 4.8rem;
                    top: 0px;
                    left: calc(50% - 320px);
                    color: transparent;
                    letter-spacing: -4px;
                    -moz-text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    -moz-text-stroke-color: rgba($main, 0.1);
                    -webkit-text-stroke-color: rgba($main, 0.1);
                    -moz-text-stroke-width: 1px;
                    -webkit-text-stroke-width: 1px;
                }
            }
        }

        .video {
            width: 700px;
            margin: 0 auto;
            margin-top: 40px;
            box-shadow: -10px -10px 0 -1px $main;
            iframe {
                width: 100%;
                height: 350px;
            }
        }

        .grid {
            max-width: 700px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 50px auto;

            .item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 40%;
                padding: 10px;
                padding-left: 15px;
                border-right: 2px solid $main;
                &:first-child,
                &:last-child {
                    width: 35%;
                }

                &:last-child {
                    border: none;
                }
                img {
                    width: 55px;
                    margin-right: 10px;
                }

                .content {
                    color: $main;
                    text-transform: uppercase;

                    .min-title {
                        font-size: 10px;
                        font-weight: bold;
                        margin-bottom: 10px;
                    }

                    .text {
                        font-weight: 100;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
.contact-container {
    background-image: url(../img/contact-bg.jpg);
    padding: 60px;

    .container {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .col {
            .title {
                color: white;
                font-weight: $bold;
                font-size: 30px;
                text-transform: uppercase;
                position: relative;
                &:before {
                    content: attr(data-text);
                    position: absolute;
                    font-weight: bold;
                    font-size: 5rem;
                    top: -30px;
                    left: -50px;
                    color: transparent;
                    -moz-text-fill-color: transparent;
                    -webkit-text-fill-color: transparent;
                    -moz-text-stroke-color: rgba(white, 0.1);
                    -webkit-text-stroke-color: rgba(white, 0.1);
                    -moz-text-stroke-width: 1px;
                    -webkit-text-stroke-width: 1px;
                }
            }
            .text {
                margin-top: 20px;
                font-weight: 100;
                color: white;
                max-width: 500px;
            }
            .form {
                width: 600px;
                margin-top: 30px;
                color: $main;
                .form-row {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 10px 0;

                    .form-group {
                        width: 49%;
                        input {
                            width: 100%;
                            border: none;
                            padding: 10px;
                            font-size: 14px;
                            color: $main;
                            font-weight: 100;
                            height: 40px;
                            &::placeholder {
                                color: $main;
                            }
                        }

                        .select-cont {
                            position: relative;
                            // max-width: 200px;
                            .value {
                                cursor: pointer;
                                font-weight: 100;
                                background-color: #fff;
                                color: $main;
                                width: 100%;
                                padding: 10px;
                                height: 40px;
                                position: relative;
                                text-transform: uppercase;
                                font-size: 14px;
                                display: flex;
                                align-items: center;
                                &:before {
                                    content: "";
                                    background-image: url(../img/arrow-down-alternate.png);
                                    background-position: center;
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    position: absolute;
                                    right: 8px;
                                    top: 11px;
                                    width: 12px;
                                    height: 10px;
                                }
                            }
                            ul {
                                width: 100%;
                                position: absolute;
                                background-color: rgba($alt, 0.9);
                                padding: 5px;
                                border-radius: 0 0 0 10px;
                                margin: 0;
                                opacity: 0;
                                max-height: 0;
                                overflow: hidden;
                                transition: opacity 0.1s linear, max-height 0.35s ease-in;
                                z-index: 10;
                                li {
                                    color: white;
                                    font-weight: 100;
                                    text-align: center;
                                    text-transform: uppercase;
                                    list-style: none;
                                    font-size: 9px;
                                    border-bottom: 1px solid rgba(white, 0.2);
                                    transform: translateX(-10px);
                                    margin: 2px;
                                    padding: 10px 0;
                                    height: 0;
                                    opacity: 0;

                                    overflow: hidden;
                                    transition: background-color 0.2s ease, color 0.2s linear;
                                    cursor: pointer;
                                    &:after,
                                    &:before {
                                        content: "";
                                        width: 100%;
                                        height: 1px;
                                        background-color: white;
                                        position: absolute;
                                        transition: left 0.3s ease-in-out;
                                        transition-delay: 0.2s;
                                    }

                                    &:after {
                                        top: 0;
                                        left: 100%;
                                    }
                                    &:before {
                                        bottom: 0;
                                        left: -100%;
                                    }

                                    &:hover {
                                        &:after,
                                        &:before {
                                            left: 0;
                                        }
                                    }

                                    &:last-child {
                                        border-bottom: none;
                                    }
                                }
                                &.active {
                                    opacity: 1;
                                    max-height: 200px;
                                    li {
                                        height: auto;
                                        animation-name: LiOption;
                                        animation-duration: 0.4s;
                                        animation-iteration-count: 1;
                                        animation-direction: normal;
                                        animation-timing-function: ease-in;
                                        animation-fill-mode: forwards;
                                        @for $i from 1 through 5 {
                                            &:nth-child(#{$i}n) {
                                                animation-delay: #{$i * 0.15}s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    textarea {
                        width: 100%;
                        border: none;
                        padding: 10px;
                        font-size: 14px;
                        font-weight: 100;
                        height: 110px;
                        &::placeholder {
                            color: $main;
                        }
                    }
                    .submit-cont {
                        position: relative;
                        transition: background-color 0.3s linear;
                        overflow: hidden;
                        &:after,
                        &:before {
                            content: "";
                            width: 100%;
                            height: 1px;
                            background-color: white;
                            position: absolute;
                            transition: left 0.3s ease-in-out;
                            transition-delay: 0.2s;
                        }

                        &:after {
                            top: 0;
                            left: 100%;
                        }
                        &:before {
                            bottom: 0;
                            left: -100%;
                        }

                        input[type="submit"] {
                            width: 130px;
                            padding: 10px;
                            height: 40px;
                            background-color: $alt;
                            font-weight: 100;
                            color: white;
                            border: none;
                            font-size: 14px;
                            text-transform: uppercase;
                            transition: background-color 0.3s linear;
                            cursor: pointer;
                        }

                        &:hover {
                            input[type="submit"] {
                                background-color: transparent;
                            }
                            &:after,
                            &:before {
                                left: 0;
                            }
                        }
                    }
                }
            }
            .content {
                max-width: 500px;
                .row {
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    .column {
                        font-size: 12px;
                        color: white;
                        font-weight: 100;
                        img {
                            width: 20px;
                            margin: 10px;
                            margin-right: 20px;
                        }
                        a {
                            display: inline-block;
                            overflow: hidden;
                            font-weight: 100;
                            padding: 5px 0;
                            color: white;
                            position: relative;

                            &:before,
                            &:after {
                                content: "";
                                width: 100%;
                                height: 1px;
                                background-color: #fff;
                                position: absolute;
                                transition: left 0.3s ease-in-out;
                            }
                            &::before {
                                top: 0;
                                left: 100%;
                            }
                            &:after {
                                bottom: 0;
                                left: -100%;
                            }

                            &:hover {
                                &:after,
                                &:before {
                                    left: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
